<h1>How to keep safe in a living breathing world.</h1>

<hr class = "featurette-divider">

<h3> Introduction: </h3>
<p>
  There are an awful lot of methods to keep safe in urban areas nowadays. This is necessary because air pollution is the
  highest it's been for a while! This is very dangerous.

  It is not uncommon to see people walking around with filter masks or even refusing to go outside all.
</p>

<h3> Here are a few tips:</h3>

<!-- cards from bootstrap documentation https://getbootstrap.com/docs/4.0/components/card/ -->

<div class="card-group">
  <div class="card border-danger">
    <div class="card-body">
      <h5 class="card-title">Step 1</h5>
      <p class="card-text">Wear a suitable mask. <a href="https://www.amazon.co.uk/Soviet-Communist-Military-GP-5-Rubber/dp/B006UD5EW0/ref=sr_1_6?keywords=military+surplus+gas+mask&qid=1571340629&sr=8-6">Buy one here!</a></p>
    </div>
  </div>
  <div class="card border-warning">
    <div class="card-body">
      <h5 class="card-title">Step 2</h5>
      <p class="card-text">Move to the countryside where the air is cleaner. (but not near a farm because cows release methane!)</p>
    </div>
  </div>
  <div class="card border-info">
    <div class="card-body">
      <h5 class="card-title">Step 3</h5>
      <p class="card-text">Plant lots of trees and keep air purifying plants in your household. <a href="https://www.amazon.co.uk/Evergreen-Collection-Houseplant-Thompson-Morgan/dp/B07G78JMB5/ref=sr_1_2?keywords=air+purifying+plant&qid=1571340737&sr=8-2">Buy one here!</a></p>
    </div>
  </div>
  <div class="card border-primary">
    <div class="card-body">
      <h5 class="card-title">Step 4</h5>
      <p class="card-text">Check our website daily so that you know when it is safe to go outside!</p>
    </div>
  </div>
  <div class="card border-success">
    <div class="card-body">
      <h5 class="card-title">Step 5</h5>
      <p class="card-text">Donate lots of money to our page to keep it running and hence keep you safe!</p>
    </div>
  </div>
</div>
