<h1>How to keep safe in a living breathing world.</h1>

<h2> Introduction: </h2>
<p>
  There are an awful lot of methods to keep safe in urban areas nowadays. This is necessary because air pollution is the
  highest it's been for a while! This is very dangerous.

  It is not uncommon to see people walking around with filter masks or even refusing to go outside all.
</p>

<h2> Here are a few tips:</h2>
<h5> Step 1 - Wear a suitable mask. <a href="https://www.amazon.co.uk/Soviet-Communist-Military-GP-5-Rubber/dp/B006UD5EW0/ref=sr_1_6?keywords=military+surplus+gas+mask&qid=1571340629&sr=8-6">Buy one here!</a></h5>
<h5> Step 2 - Move to the countryside where the air is cleaner. (but not near a farm because cows release methane!)</h5>
<h5> Step 3 - Plant lots of trees and keep air purifying plants in your household. <a href="https://www.amazon.co.uk/Evergreen-Collection-Houseplant-Thompson-Morgan/dp/B07G78JMB5/ref=sr_1_2?keywords=air+purifying+plant&qid=1571340737&sr=8-2">Buy one here!</a></h5>
<h5> Step 4 - Check our website daily so that you know when it is safe to go outside!</h5>
<h5> Step 5 - Donate lots of money to our page to keep it running and hence keep you safe!</h5>
