
<p>------------CHART WILL GO HERE-----------</p>

<p>
  YEAR: <%= @search_year.inspect %>
</p>
<p>
  REGION: <%= @search_region.inspect %>
</p>

<p>----------------------------------------------------------</p>

<p>
  <%= link_to("Back", historical_index_path) %>
</p>
