<div id="container" style="width:100%; height:400px;"></div>
<script> 
document.addEventListener('DOMContentLoaded', function () {
        var myChart = Highcharts.chart('container', {
            chart: {
                type: 'bar'
            },
            title: {
                text: '<%= @search_region %> <%= @search_year %>'
            },
            xAxis: {
                categories: ['Lung Cancer', 'COPD', 'Bronchiectasis', "Asthma"]
            },
            yAxis: {
                title: {
                    text: 'No. of people diagnosed per 100,000'
                }
            },
            series: [{
                name: "Diagnoses",
                data: <%= @data_list[0] %>
            }]
        });
    });


</script>

<p>
  <%= link_to("Back", historical_index_path) %>
</p>
