<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/historical/index">Pulmonary Diseases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/airquality/safety">How do I keep safe?</a>
      </li>
      <li class="nav-item ml-auto">
        <%= image_tag("breathe-free.jpg", size: "100x35") %>
      </li>
    </ul>
  </div>
</div>
