<!--Faizan Mohiuddin-->

<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-pills card-header-pills">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/historical/index">Pulmonary Diseases</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/airquality/safety">How do I keep safe?</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/api/v1/disease_records">API</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Tables</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/disease_records">Disease Records</a>
          <a class="dropdown-item" href="/cities">Cities</a>
          <a class="dropdown-item" href="/regions">Regions</a>
          <a class="dropdown-item" href="/average_regions">Average Region Diagnoses</a>

  </div>
      <li class="nav-item ml-auto">
        <%= image_tag("breathe-free.jpg", size: "100x35") %>
      </li>
    </ul>
  </div>
</div>
