<%= image_tag("banner.png") %>
<p> <%= link_to 'Home', airquality_index_path %> |   <%= link_to 'Pulmonary Diseases', airquality_history_path %> | <%=link_to 'How do I keep safe?', airquality_safety_path %></p>